/* Général */
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    background-image: url(../Image/ImageFondV1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    box-shadow: 0 3px 5px rgb(255, 1, 1);
    background-color: #000000;
}

/* Les artticles */
.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.article {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.article img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.article h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.article button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.article button:hover {
    background-color: #0056b3;
}

/* Liste texe*/
.liste_texte {
    list-style: circle;
    list-style-position: inside;
}


/* Logo */
.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

/* Ajustement de l'image du logo */
.LogoSite {
    max-height: 50px;
    object-fit: contain;
}

/* Barre de navigation */
.menuPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Personnalisation des liens de navigation */
.nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
    width: 100%;
}

.nav-item {
    text-align: center;
    margin: auto;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6b5b5b;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link.active {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.nav-link:hover {
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 992px) {
    .menuPrincipal {
        flex-wrap: wrap;
        padding: 10px;
    }

    .navbar-links {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-link {
        font-size: 14px;
    }
}

section {
    padding: 2vw;
    margin: 2vw auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    max-width: 90%;
    backdrop-filter: blur(5px);
}

main {
    flex: 1;
}

footer {
    padding-bottom: 20px;
    background-color: rgba(88, 88, 88, 0.9);
    text-align: center;
    font-size: x-small;
    color: white;
    width: 100%;
    margin-top: auto; 
}

.reseaux {
    display: inline-block;
    text-align: center;
    width: 35%;
    height: 100px;
    margin: 5%;
    padding: 2%;
}

.footer-link {
    display: inline-block;
    margin: 5%;
    padding: 2%;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    transition: color 0.3s ease;
}


.footer-link:hover {
    color: #d69494bb;
    border-radius: 5px;
}

