body {
    background-color: #000000d8; 
    font-family: Calibri, sans-serif; 
    font-size: 100%;
}
.menuPrincipal.navbar {
    padding: 35px 0;
    background-color: #fff;
    border-bottom: 1px solid #D9D9D9;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1)
}
.menuPrincipal.navbar.scrolled {
    padding: 0;
    transition: padding 200ms linear
}